= simple_form_for [@project, @task], html: { multipart: true } do |f|
    = f.input :subject
    = f.input :description
    - if @task.persisted?
        = f.input :status, collection: Task.statuses.keys
    = f.input :user_id, collection: User.all.map { |u| [u.full_name, u.id] }, label: "Assign to"
    = f.simple_fields_for :attachments do |a|
        = a.input :upload, as: :file
        = a.input :description
    = f.button :submit


