%h3 Tasks
= button_to 'Add New Task', new_project_task_path(@project), method: :get

%table
  %thead
    %tr
      %th Subject
      %th Status
      %th Resolver
      %th Actions
  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to "#{task.subject}", project_task_path(@project, task)
        %td= task.status
        %td= User.find(task.user_id).first_name
        %td
          = button_to 'Edit', edit_project_task_path(@project, task), method: :get
          = button_to 'Delete', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }
