%h1 Users
= button_to 'Back', root_path, method: :get
= button_to 'Add New User', new_user_path, method: :get

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to "#{user.first_name} #{user.last_name}", user_path(user)
        %td= user.email
        %td
          = button_to 'Edit', edit_user_path(user), method: :get
          = button_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
